node_modules/
.next/
out/
.env*
!.env.local.example
.data/
persistent-data/
.release/
dist/
npm-debug.log*
docs/tasks
.DS_Store
torrent-providers.json
public/torplay-browser-icon-v1.png
public/torplay-apple-icon-v1.png
installer/windows/torplay.ico
