node_modules/
.next/
out/
.env*
!.env.local.example
.data/
persistent-data/
.release/
dist/
npm-debug.log*
docs/tasks
.DS_Store
torrent-providers.json
app/favicon.ico
app/icon.png
installer/windows/torplay.ico
